<a href="https://colab.research.google.com/github/TEJ66/TEJ66/blob/main/18122021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("EXCHANGE THE VALUES OF TWO VARIABLES")

v1 = int(input("ENTER THE VALUE OF VARIABLE 1 = "))
v2 = int(input("ENTER THE VALUE OF VARIABLE 2 = "))

print("Before Exchange","\n","VARIABLE 1 :",v1,"\n","VARIABLE 2 :",v2)
v1,v2 = v2,v1
print("After Exchange","\n","VARIABLE 1 :",v1,"\n","VARIABLE 2 :",v2)

EXCHANGE THE VALUES OF TWO VARIABLES
ENTER THE VALUE OF VARIABLE 1 = 1
ENTER THE VALUE OF VARIABLE 2 = 5
Before Exchange
 VARIABLE 1 : 1
 VARIABLE 2 : 5
After Exchange
 VARIABLE 1 : 5
 VARIABLE 2 : 1

In [3]:
print("DISTANCE BETWEEN TWO POINTS")

x1 = float(input("ENTER x1 : "))
y1 = float(input("ENTER y1 : "))

x2 = float(input("ENTER x2 : "))
y2 = float(input("ENTER y2 : "))

D = ((x2-x1)**2+(y2-y1)**2)**0.5

print("DISTANCE = ",D)

DISTANCE BETWEEN TWO POINTS
ENTER x1 : 15
ENTER y1 : 90
ENTER x2 : 35
ENTER y2 : 65
DISTANCE =  32.01562118716424

In [5]:
n = int(input("Enter number of values : "))
list1 = []
for val in range (0,n) :
  e = int(input("Enter integer :"))
  list1.append(e)
print("cirulating the elements of list",list1)

for i in range(0,n) :
  Result = list1[i:] + list1[:i]
  print(Result)

Enter number of values : 5
Enter integer :1
Enter integer :2
Enter integer :3
Enter integer :4
Enter integer :5
cirulating the elements of list [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 1]
[3, 4, 5, 1, 2]
[4, 5, 1, 2, 3]
[5, 1, 2, 3, 4]